.navbar {
    background-color: #00AEEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 0px;
    width: auto;
}
/*img icons*/
img#icon {
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.position-relative .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/*Contact*/
ul {
    width: fit-content;
    list-style-type: none;
}

li {
    margin-left: 16px;
    border-right: 1px solid white;
}
  
li#account.nav-item {
    margin-left: 16px;
    border: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.position-relative.jumbotron.overflow-hidden.w-100 {
    background: rgba(51, 51, 51, .5);
}

.row.gy-2.gx-3.align-items-center {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 60px;
    display: inline-flex;
    align-items: end;
    justify-content: space-between;
    margin-top: -29px;
    padding: 60px;
    margin-right: calc(-.5* 3px);
    margin-left: calc(-.5* 3px);
}


.placeholder-icon {
    position: absolute;
    top: 63%;
    left: 10px;
    transform: translateY(-50%);
    z-index: 99;
}

/*most popular travel destination*/
.suggested_city {
    border: 3px solid #00AEEF;
    height:min-content;
    width:auto;
    margin-left: 7px;
    margin-bottom: 20px;
    padding: 0px;
    justify-content: center;
}

.heading{
    padding: 3px;
    color: #00AEEF;
}

.col-6.col-md-2.col-sm-4 a {
    font-style:normal;
    text-decoration: none;
}

.btn.btn-primary {
    background-color: #00AEEF
}

.card-title {
    color: #00AEEF;
}

p.card-text a {
    color: black;
    text-decoration:none;
}

.card-footer {
    background-color: #00AEEF;
}

/*Popular cities*/
.col.loca .card-img-overlay {
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    padding: 60px;
}

.content {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    width: 100%;
    padding:45px;
    justify-items: center;
    text-align: center;
    vertical-align: middle;
}

.col.loca .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    text-align: center;
    justify-items: center;
    vertical-align: middle;
    visibility: hidden;
}

.cta-button {
    border: 1px solid white;
    padding: 10px;
    text-decoration: none;
    color: #f1f1f1;
    text-align: center;
    border-radius: 8px;
}

.col.loca:hover .content {
    visibility: visible;
    height: 35%;
}

.cta-button:hover {
    background-color: #00AEEF;

}

.card-title-01 {
    color: #f1f1f1;
}

a.capitalize {
    font-weight: bolder;
    color: #00AEEF;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.mb-0 .tiny-divider, .text-center .tiny-divider {
    border-bottom: 3px solid #00AEEF;
    width: 6%;
    position: relative;
    left: 50%;
}

.subscribe {
    position: relative;
    text-align: center;
    background-color: #fafafa;
    padding: 30px;
}

.row.g-3 {
    align-items: center;
    position: relative;
    justify-content: center;
}

.col-sm-2 a {
    color: #f1f1f1;
}

.adjust {
    padding: 30px;
}

.adjust-01 {
    padding: 16px;
}

.container-01 {
    background-color: #eff8fb;
    background-size: cover;
    position: relative;
}

.con {
    position: relative;
    padding: 30px;
}

div.content-001 {
    position: relative;
    display: flex;
    padding: 30px;
    align-items: center;
}

.content-01 {
    padding: 30px;
}

.container-mobile {
    background-color: #eff8fb;
    background-size: cover;
    position: relative;
    width: 100%;
}

.content-mobile {
    position: relative;
    padding: 30px;
}

.content-mob {
    position: relative;
    display: contents;
    padding: 30px;
    align-items: center;
}

.display-content {
    padding: 30px;
}

.img {
    width: 50%;
    margin-bottom: -60px;
}

.row.a-01 {
    display: grid;
}
.display-content .img img {
    width: 210%;
}

.get-app-header {
    color: #2196f3;
    font-weight: 800;
}

html, *, body {
    scroll-behavior: smooth !important;
}

* {
    margin: 0;
}

#footerContainer.unlock-deals-container .unlock-deals {
    display: flex;
}

.unlock-deals {
    background-color: #084482;
    padding: 16px;
    min-height: 95px;
    margin: 0;
    color: #fff;
}


.unlock-deals-container .unlock-deals-text {
    align-items: center;
}
.unlock-deals-text {
    display: flex;
    padding: 0;
}

.unlock-deals-container .unlock-deals-icon {
    margin-left: auto;
    margin-top: -3px;
}

.unlock-deals-text div {
    margin-left: 10px;
}
.unlock-deals-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unlock-deals-container .unlock-deals-icon svg {
    fill: #00aeff;
}
.unlock-deals svg {
    fill: #fc8233;
    width: 21px;
    height: 21px;
}

.unlock-deals-container .unlock-deals-text-main {
    max-width: 390px;
    text-align: left;
}

.unlock-deals-text div {
    margin-left: 10px;
}
.unlock-deals-text-main {
    width: calc(100% - 50px);
    padding-right: 10px;
    color: #fff !important;
}

.unlock-deals h3 {
    margin: 0 0 5px;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}

.unlock-deals-container .unlock-deals-text-main p {
    color: #00aeff;
    margin-bottom: 0;
}

.unlock-deals-container form {
    max-width: 450px;
}
.unlock-deals-form form {
    margin-bottom: 0;
    width: 100%;
    min-height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe-form {
    display: flex;
    width: 100%;
}

.unlock-deals-form input:first-of-type {
    width: 60%;
    padding: 0 10px;
    border-radius: 4px 0 0 4px;
    border: 0;
    color: #4f4f4f;
}

.unlock-deals-container form input {
    height: 41px;
    margin-bottom: 0;
}

.unlock-deals-container form input:last-of-type {
    border-radius: 0 4px 4px 0;
}
.unlock-deals-form input:last-of-type {
    width: 40%;
    margin-left: -6px;
    border-radius: 0;
    color: #fff;
    background-color: #00aeff;
    border: 0;
    transition: .3s ease-in-out;
}

.about-us {
    background-color: #084482;
    padding: 30px;
    text-align: center;
}

.about-us p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-us p>a {
    color: #fff !important;
}

a {
    text-decoration: none !important;
}

.about-us p:last-of-type {
    font-weight: 400;
    margin-bottom: 10px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-sm {
    font-size: 14px;
    color: #4f4f4f;
}

.text-left {
    text-align: left !important;
}